<h1>Recipes</h1>

<div>
  <h2>Find Your Recipe:</h2>
  <%= form_with(url: recipes_path, method: :get, remote: false) do |f| %>
    <%= f.label :query, 'Enter the ingredients you have and we will find you recipes:' %>
    <%= f.text_field :query, placeholder: 'chicken, cheese' %>
    <%= f.submit 'Search', name: nil %>
  <% end %>
<div>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe_path(recipe) %>
    </li>
  <% end %>
</ul>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
