<h1>Recipes</h1>

<div>
  <h2>Find Your Recipe:</h2>
  <%= form_with(url: recipes_path, method: :get, remote: false) do |f| %>
    <%= f.label :query, 'Enter the ingredients you have and we will find you recipes:' %>
    <%= f.text_field :query, placeholder: 'chicken, cheese' %>
    <%= f.submit 'Search', name: nil %>
  <% end %>
<div>

<% if @recipes.empty? %>
  <div>
    <h3> No recipes were found with your ingredients, time to experiment (or browse all recipes below)!</h3>
    <%= link_to 'All recipes', recipes_path %>
  </div>
<% else %>
 <%= link_to 'Show All Recipes', recipes_path %>
<% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe_path(recipe) %>
    </li>
  <% end %>
</ul>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
